<div class="project", data-language="<%= @project.language %>">

  <div class="project-title">
    <h2><%= link "#{@project.name}", to: @project.url%></h2>
  </div>

  <div class="project-description">
    <h4><%= @project.description %></h4>
  </div>

  <div class="project-language">
    <p><%= @project.language %></p>
  </div>

</div>
